<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.mapper.CompLeaveUsageMapper">

    <resultMap id="BaseResultMap" type="com.hrms.entity.CompLeaveUsage">
        <id column="id" property="id"/>
        <result column="application_id" property="applicationId"/>
        <result column="grant_id" property="grantId"/>
        <result column="days" property="days"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comp_leave_usage (application_id, grant_id, days, create_time)
        VALUES (#{applicationId}, #{grantId}, #{days}, NOW())
    </insert>

    <select id="selectByApplicationId" resultMap="BaseResultMap">
        SELECT * FROM comp_leave_usage WHERE application_id = #{applicationId}
    </select>

    <delete id="deleteByApplicationId">
        DELETE FROM comp_leave_usage WHERE application_id = #{applicationId}
    </delete>

</mapper>
